.reset-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #f5f5f5;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reset-btn:hover {
  background-color: #fff;
}

.reset-btn:active {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .reset-btn {
    min-width: 120px;
    padding: 0 25px;
  }
}
