.scoreboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 450px;
    width: 70%;
    height: 100%;
    background-color: white;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 40px auto;
    border-radius: 10px;
}

.scoreboard * {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.xPlayer{
    width: 50%;
    height: 100%;
    background-color: white;
    color: white;
    text-align: center;
    background-color: #C82121;
}

.oPlayer{
    width: 50%;
    height: 100%;
    background-color: white;
    color: white;
    text-align: center;
    background-color: #0D0CB5;
}

.disabled{
    background-color: white;
    color: black;
}
